/*
    font-family: 'Roboto', sans-serif;
    */

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: arial, sans-serif;
    }

    a {
        text-decoration: none;
        color: blue;
    }

    a:hover {
        text-decoration: underline;
        transition: all 0.5 ease;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 10px;
    }

    #btn-login {
        padding: 10px 15px;
        color: #f1f1f1;
        background-color: #1a73e8;
        border: 1px solid transparent;
        border-radius: 4px;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
    }

    #btn-login:hover {

    }

    header a {
        color: black;
    }

    .topbar-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        padding: 10px;
        margin: 0 20px 0 10px;
        height: 8vh;
    }

    .topbar-container div {
        padding: 10px;
    }


    #menu-btn-container {
        box-sizing: border-box;
        width: 30px;
        padding: 5px;
        height: 30px;
    }

    #menu-btn-container:hover {
        background: #ebebec;
        border: 1px solid transparent;
        border-radius: 50px;
    }
    #menu-btn {
        vertical-align: center;
        cursor: pointer;
        fill: #666666;
    }

    #menu-btn:hover {
        fill: black;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 60vh;
    }

    main > div {
        margin: 10px;
    }

    .logo-container {
        margin-bottom: 10px;
    }

    .logo-container img {
        width: 300px;
    }

    .search-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 50px;
        border: 1px solid gray;
        height: 12%;
        width: 50vw;
        max-width: 500px;
    }

    .search-icon {
        padding: 10px;
        margin-left: 5px;
        margin-top: 2px;
    }

    #search-svg {
        fill: gray;
        width: 20px;
    }

    .search-input {
        width: 80%;
        padding: 5px;
        border: 0;
        font-size: 1em;
        color: black;
    }

    .btn-container button {
        padding: 10px;
        margin: 15px;
        cursor: pointer;

        border: 1px solid #f2f2f2;
        border-radius: 4px;
        color: #5F6368;
        
    }

    .btn-container button:hover {
        color: black;
        background-color: #F8F8F8;
        border: 1px solid #86888b;
        box-shadow: 2px;
    }

    .lang a {
        color: #1a0dab;
    }

    footer {
        display: flex;
        flex-direction: column;
        bottom: 0;
        left: 0;
        position: fixed;
        width: 100%;
        background-color: #f2f2f2;
        padding: 10px;
    }

    footer p, footer a {
        color: #5F6368;
    }
    
    .google-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }
    .left {
        width: 40vw;
        display: flex;
        justify-content: flex-start;
    }

    .left a {
        margin: 0 auto;
    }

    .right {
        width: 20vw;
        display: flex;
        justify-content: flex-end;
    }

    .right a {
        margin: 0 auto;
    }

    /*
    .attrib {
        text-align: center;
        width: 100%;
        border-top: 1px solid gray;
        padding: 5px;
    }
    */

    @media screen and (max-width: 801px) {
        /*mobile version*/
        .topbar-container {
            width: 50vh;
        }

        .search-container {
            min-width: 400px;
        }

        footer {
            width: 100%;
            background-color: #f2f2f2;
            font: 14px;
        }
    
        
        .google-footer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        

        .left {
            padding: 10px;
            width: 100%;
            order: 2;
            margin: 0 auto;
        }
    
        .right {
            padding: 10px;
            width: 100%;
            margin: 0 auto;
        }
    
    }
}